*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Open Sans;
}

/* 【ＨＥＡＤＥＲ ＳＴＡＲＴ】 */
header{
    max-width: 1500px;
    margin: 0 auto;
}

.topbar{
    max-width: 1500px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
}
#logo{
    font-size: 50px;
}

 header a{
    text-decoration: none;
    color: black;
}


.bottombar{
    background-color: #b4d0e7;
    min-height: 500px;
}

.bottombar .container{
   width: 90%;
   margin: 0 auto;
}
.bottombar-title{
    /* background-color: blanchedalmond; */
    width: 80%;
    margin: 0 auto;
    padding: 20px 0px;
    font-size: 31px;
    
}

.bottombar-row{
    /* background-color: aliceblue; */
    min-height: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.col-text{
    width: 40%;
}
.col-img{
    width: 60%;
    
}
.col-img img{
    width: 100%;
    height: auto;
}

.bt-blue{
    background-color: #005cff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
div .bt-blue{
    margin: 50px 0px;
}

.fa-arrow-down{
    margin-top: 20px;
    font-size: 50px;
}
/* 【ＨＥＡＤＥＲ ＥＮＤ】 */